
/* body */
body {
    background-color: #fff9de;
    margin: 0;
    -webkit-text-size-adjust: 100%;
}

/* サブタイトル*/
h1 {
    font-size: 1em;
    color: #6b3008;
    text-align: center;
}

/* 見出し*/
h2 {
    text-align: center;
}

h3 {
    border-left: solid 6px #6b3008;
    padding: 6px;
}

/* ページ先頭へ*/
.pagetop {
    text-align: right;
}

/* copylight*/
.copylight {
    border-top: solid 3px #000000;
    text-align: center;
}

/*artice*/
article {
    padding: 32px 16px;
}

/* プロフィールは背景色・文字色を変更*/
#profile {
    background-color: #6b3008;
    color: #ffffff;
}

/* コンテンツ幅の上限を設定 */
#profile .inner{
    max-width: 600px;
    margin: auto;
}

#concert {
    max-width: 600px;
    margin: 0 auto;
}


/* section */
section {
    margin: 48px 0;
}

/*出演者のsection*/
.performer {
    margin : 0 0 24px;
    overflow: hidden;    
}
.performer img {
    float: left;
    margin: 0 16px 0 0;
}

.performer h4 {
    margin: 0 0 0.5em;
}
.performer p {
    margin: 0;
}
/* 表 */
table {
    border: solid 1px #999999;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}
th, td {
    border: solid 1px #999999;
    padding: 16px;
}
th { 
    background-color: #62d5e8;
}

/* list */
ol li {
    list-style: upper-roman;
}

/*ナビゲーション*/
.navigation ul {
    background-color: #000000;
    margin: 0;
    padding: 4px;
    text-align: center;
}
.navigation ul li {
    list-style-type: none;
    display: inline;
    margin: 0 8px;
}
.navigation ul li a {
    color: #ffffff;
    text-decoration: none;
}
.navigation ul li a:hover {
    text-decoration: underline;
}

/* メインビジュアル */
.mainvisual {
    background-color: #62d5e8;
    border-bottom: solid 3px #000000;
}

.mainvisual img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
