
/* body */
body {
    background-color: #fff9de;
}

/* サブタイトル*/
h1 {
    font-size: 1em;
    color: #6b3008;
    text-align: center;
}

/* 見出し*/
h2 {
    text-align: center;
}

h3 {
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: #6b3008;
}

/* ページ先頭へ*/
.pagetop {
    text-align: right;
}

/* copylight*/
.copylight {
    border-top: solid 3px #000000;
    text-align: center;
}

/* プロフィールは背景色・文字色を変更*/
#profile {
    background-color: #6b3008;
    color: #ffffff;
}
