/*
background
*/

body {
 /* background-color: silver;
    background-image: url('mainvisual.png');
    background-repeat: no-repeat;
    background-repeat: repeat-y; 
    background-position: 10px 10px;
    background-attachment: scroll;
    background-attachment: fixed; */
    background: url('mainvisual.png') no-repeat fixed;
}