/*
display: table
*/

.container {
    display: table;
    width: 300px;
}

.box {
    display: table-cell;
    width: 100px;
}
.gray { background: gray; }
.silver { background: silver; }
.orange { background: orange; }

