<style type="text/css">
ul.ddmenu {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    background-color: beige;
}

ul.ddmenu li {
    width: 125px;
    display: inline-block;
    list-style-type: none;
    position: relative;    
}

ul.ddmenu a{
    background-color: beige;
    color: black;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ul.ddmenu a:hover {
    background-color: antiquewhite;
    color: whitesmoke;
}

ul.ddmenu ul {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
}

ul.ddmenu ul li {
    width: 135px;
    border-top: 1px solid pink;
}
ul.ddmenu ul li a {
    line-height: 35px;
    text-align: left: 5px;
    font-weight: normal;
}
ul.ddmenu ul li a:hover {
    background-color: antiquewhite;
    color: whitesmoke;
}
</style>

/*
ul {
    list-style: none;
    overflow: hiden;
}

ul.menu li{
    float:left;
    border-right: 1px solid #DDD;
}

ul.li a {
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

ul. li a:hover {
    background: #EEE;
}

ul. li.active a {
    background: #333;
    color: #EEE;
}
</style>
/* http://wwx.jp/css-navigation-menu */

